.avatarNav {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 5px;
  object-fit: cover;
}

.logoNav {
  width: 8rem;
  height: auto;
  border-radius: 50%;
  margin-right: 5px;
}

.navbar-nav {
  --bs-nav-link-hover-color: rgb(147 178 109)
}