.googleBtn {
  background-color: #f7f7f7;
  color: rgb(20, 11, 11);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  margin-left: 2rem;
}

.logBtn {
  background-color: #f7f7f7;
  color: rgb(20, 11, 11);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}

.linkToRegister{
    text-align: center;
    margin-top: 2rem;
}
