.register{
    margin-top: 3rem;
}

.img-fluid{
    border-radius: 5%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.regTitle{
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}

.regBtn{
    display: flex;
    justify-content: center;
}
 